{% extends "base.html" %}
{% load i18n %}

{% block title %}| {{ type }}{% endblock %}

{% block deputati_class %}
  {% if type == 'deputati' %}
    class="active"
  {% endif %}
{% endblock %}

{% block senatori_class %}
  {% if type == 'senatori' %}
    class="active"
  {% endif %}
{% endblock %}

{% block sub_nav %}
  <nav id="sub"><!-- sub nav -->
    <ul class="nav nav-pills">
      <li id="sub-nav-list" {% block list_class %}{% endblock %}>
        <a href="/{{type|lower}}.html">{% trans "complete list" %}</a>
      </li>
      <li id="sub-nav-sex" {% block sex_class %}{% endblock %}>
        <a href="/{{type|lower}}/sex.html">{% trans "by sex" %}</a>
      </li>
      <li id="sub-nav-group" {% block group_class %}{% endblock %}>
        <a href="/{{type|lower}}/group.html">{% trans "by group" %}</a>
      </li>
      <li id="sub-nav-constituency" {% block constituency_class %}{% endblock %}>
        <a href="/{{type|lower}}/constituency.html">{% trans "by region" %}</a>
      </li>
    </ul>
  </nav><!-- end of sub nav -->	
{% endblock %}

{% block content %}
  <div style="text-align: right; margin: 1.5em 0; font-size: 13px">
    {% blocktrans %}Data extracted on{% endblocktrans %} {{  extraction_date|date:"DATE_FORMAT" }}
  </div>
{% endblock %}

{% block css_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{{STATIC_URL}}css/tablesorter_themes/blue/style.css" type="text/css" media="print, projection, screen">
{% endblock %}

{% block js_footer %}
  {{ block.super }}
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.metadata.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
{% endblock %}

