{% extends "base.html" %}
{% load i18n %}
{% load generic_flatblocks %}

{% block title %}| Home{% endblock %}

{% block content %}
  {% load charts_tags %}
    <section id="camere-aperte">
      <p style="width: 90%; margin-top: 2em;">
      <a href="https://s3-eu-west-1.amazonaws.com/camereaperte2011.openpolis.it/Camere+Aperte+2011.pdf"><img src="{{STATIC_URL}}img/dossier-camere-aperte.png"/></a><br/>
      Camere aperte 2011: il rapporto annuale di Openpolis sulla produttività dei nostri parlamentari.<br/>
      > <a href="https://s3-eu-west-1.amazonaws.com/camereaperte2011.openpolis.it/Camere+Aperte+2011.pdf">Scarica il File PDF (2.1Mb)</a>
      </p>
    </section>
    <section id="indice">
      <p style="width: 80%; margin-top: 2em;">
      L'Indice di Produttivit&agrave; Parlamentare prende in considerazione la quantità e l'efficacia dell'attivit&agrave; realizzata da ogni Deputato e Senatore dall'inizio della Legislatura (aprile 2008) sino alla data dell'ultimo aggiornamento. <br/>
      I dati, ricavati dai siti di Camera e Senato, sono elaborati quotidianamente da <a href="http://www.openparlamento.it">Openparlamento</a>.
      </p>
    </section>
    <section id="city-search" class="ui-widget">
      <p style="width: 80%; margin-top: 2em">
      <img src="{{ STATIC_URL }}img/quanto-produttivi.png"/><br/>
      <input id="city" value="{% trans 'insert your city name' %}" />
      </p>
    </section>
    

    <h3 id="data-estrazione">data: {{ extraction_date }}</h3>

    <section id="elenco-parlamentari" class="container-fluid">
  
      <section id="top-deputati" class="top-chart">
        <h3>{% trans "Top 10 deputati" %}</h3>
        {% get_top 10 deputati as mps asof extraction_date %}
        {% include "_mps_table_with_pictures.html" %}
        <div class="link-to-all"><a href="/deputati.html">{% trans "go to the complete list" %}</a></div>
      </section>

      <section id="top-senatori" class="top-chart">
        <h3>{% trans "Top 10 senatori" %}</h3>
        {% get_top 10 senatori as mps asof extraction_date %}
        {% include "_mps_table_with_pictures.html" %}
        <div class="link-to-all"><a href="/senatori.html">{% trans "go to the complete list" %}</a></div>
      </section>

    </section>  

{% endblock %}

{% block css_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.17.custom.css" type="text/css" media="all" /> 
  <style>
    .ui-autocomplete-loading { background: white url('{{ STATIC_URL }}img/ui-anim_basic_16x16.gif') right center no-repeat; }
    #city { width: 20em; }
      .ui-autocomplete {
          max-height: 10em;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
          /* add padding to account for vertical scrollbar */
          padding-right: 20px;
      }
      /* IE 6 doesn't support max-height
       * we use height instead, but this forces the menu to always be this tall
       */
      * html .ui-autocomplete {
          height: 10em;
      }
  </style>
{% endblock %}

{% block js_footer %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() { 
      $('#city').focus(function(){
        if ($(this)._cleared) return;
        $(this).val('');
        $(this)._cleared = true;
      });  


      $( "#city" ).autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "http://www.openpolis.it/json_getLocationsForIndiceAutocompleter",
                data: { 'name_starts_with': request.term },
                crossDomain: false,
                dataType: "jsonp",
                success: function( data ) {
                    response( $.map( data.locations, function( item ) {
                        return {
                            label: item.name + (item.prov != ''? " (" + item.prov + ")" : ''),
                            circ: item.circ
                        }
                    }));
                }                  
            });
        },
        minLength: 2,
        select: function( event, ui ) {
                  window.location.href += ui.item.circ + ".html"; 
              },
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });

    });
  </script>      
  
{% endblock %}
