{% extends "base.html" %}
{% load i18n %}
{% load generic_flatblocks %}

{% block title %}| {% trans "About" %}{% endblock %}
{% block methodology_class %}class="active"{% endblock %}

{% block sub_nav %}
<a name="su"></a>
<nav id="sub" class="spyable"><!-- sub nav -->
  <ul class="nav nav-pills">
    <li><a href="#metodo">metodologia</a></li>
    <li><a href="#consenso">consenso</a></li>
    <li><a href="#iter">iter</a></li>
    <li><a href="#partecipazione">partecipazione ai lavori</a></li>
    <li><a href="#relatori">ruolo del relatore</a></li>
    <li><a href="#emendamenti">emendamenti e ostruzionismo</a></li>
	<li><a href="#ranking">ranking degli atti</a></li>
    <li><a href="#tabella">tabella di valutazione</a></li>
  </ul>
</nav><!-- end of sub nav -->	

{% endblock %}

{% block content %}
    
  <section id="info-text">

    <div id="metodo" class="anchored-content">
      <a name="metodo"></a>
      <section class="header">
        <h3>La metodologia</h3>
        <small>[<a href="#su">torna su</a>]</small>
      </section>
      <section class="content">
"Far emergere le differenze" è l’obbiettivo che costantemente openpolis si sforza di perseguire rispetto la politica italiana.<br/>
All’opposto della generalizzazione che produce anti-politica, è condizione indispensabile per i cittadini che devono scegliere i propri rappresentanti e poi
valutarne l’operato.<br/>
Allo stesso tempo, è un’opportunità a disposizione dei politici per relazionarsi con gli elettori, riannodare i fili con il territorio e rendicontare la propria attività.<br/>
L’indice di produttività parlamentare vuole contribuire a questa esigenza rispetto le più importanti istituzioni rappresentative del paese, la Camera dei Deputati e il Senato della Repubblica.<br/>
Il lavoro di deputati e senatori viene analizzato in base a criteri di efficacia che aiutino a distinguere la gran massa di attività che non produce effetti da quella, poca, che invece da risultati. Non si entra mai nel merito di quanto un atto disponga, se sia buono o cattivo, ma ci si limita ad attribuire un punteggio ad ogni passaggio di iter.<br/>
Dunque più un provvedimento si approssima al suo completamento (per es. un ddl che diventa legge) più sarà alto il punteggio assegnato a chi presenta l’atto - primo firmatario - o nel è il relatore.<br/>
Altri punti vengono attribuiti con il consenso ottenuto su un provvedimento, attraverso le firme degli altri parlamentari, e, infine, grazie ad una più assidua partecipazione del parlamentare ai lavori.<br/>
L’insieme di questi parametri, messi a punto nel tempo grazie a ad un confronto continuo anche con molti parlamentari, chiaramente premia la ricerca del risultato e il merito politico e scoraggia la produzione di scartoffie buone solo a intasare gli uffici.<br/>
L’indice è uno strumento che ha il vantaggio della sintesi ma che tuttavia non deve essere preso come uno strumento per la misurazione esatta. Serve per analizzare e valutare la complessa realtà parlamentare non certo per formulare giudizi.<br/>
Non prende in considerazione aspetti molto importanti a cui un politico dedica tempo ed energie, come la relazione con il territorio, il confronto con gli attori sociali o la vita di partito.<br/>
Si focalizza sulle attività istituzionali tracciabili e che speriamo presto con la campagna <a href="http://uact.it/actions/parlamento-casa-di-vetro/">#ParlamentoCasadiVetro</a> possano comprendere anche le commissioni e non solo le aule.
      <section/>
    </div>


   <div id="consenso" class="anchored-content">
     <a name="consenso"></a>
     <section class="header">
       <h3>Il consenso</h3>
       <small>[<a href="#su">torna su</a>]</small>
     </section>
     <section class="content">
Con questo criterio si intende valutare la quantità e la tipologia di gradimento che il presentatore (Primo firmatario) di un atto riesce ad ottenere presso i suoi colleghi.<br/>
La presunzione di partenza è che più un atto ottiene consenso e maggiore sarà il suo valore politico.<br/>
Il sostegno proveniente da altri gruppi, in particolare dello schieramento opposto, determinano un punteggio ulteriore.
    </section>
  </div>

   <div id="iter" class="anchored-content">
     <a name="iter"></a>
     <section class="header">
       <h3>L'iter</h3>
       <small>[<a href="#su">torna su</a>]</small>
     </section>
     <section class="content">
Ogni atto parlamentare ha un iter che consiste nella successione delle fasi necessarie al suo completamento.<br/>
Possono essere poche o molte secondo il tipo di atto, l’iter più complesso è quello dei disegni di legge.<br/>
Dal punto di vista della produttività parlamentare, ogni tappa raggiunta o superata da un atto verso il suo traguardo finale fa acquisire punteggio all’atto, e, di conseguenza, al suo presentatore e al relatore.
    </section>
  </div>


   <div id="partecipazione" class="anchored-content">
     <a name="partecipazione"></a>
     <section class="header">
       <h3>La partecipazione ai lavori</h3>
       <small>[<a href="#su">torna su</a>]</small>
     </section>
     <section class="content">
Il contributo del parlamentare ai lavori della Camera di appartenenza si esprime anche attraverso la partecipazione alla fase della discussione e a quella della decisione.<br/>
Pertanto, nell’indice di produttività calcoliamo gli interventi in commissione e in aula e le presenze alle votazioni, con particolare attenzione ai voti finali e ai voti in cui la maggioranza è risultata battuta.
    </section>
  </div>

   <div id="relatori" class="anchored-content">
     <a name="relatori"></a>
     <section class="header">
       <h3>Il ruolo del relatore</h3>
       <small>[<a href="#su">torna su</a>]</small>
     </section>
     <section class="content">
Per ogni disegno di legge viene attribuito ai relatori un punteggio in base agli stessi criteri stabiliti per il primo firmatario ma applicando un divisore pari la numero di relatori per quel ddl.<br/>
Unica differenza riguarda gli assorbimenti, per i quali vengono premiati i primi firmatari ma non i relatori.
    </section>
  </div>

   <div id="emendamenti" class="anchored-content">
     <a name="emendamenti"></a>
     <section class="header">
       <h3>Gli emendamenti e l'ostruzionismo</h3>
     </section>
     <section class="content">
Il punteggio assegnato per la presentazione di emendamenti è ponderato per rilevare situazioni di ostruzionismo.<br/>
Pertanto, quando sullo stesso ddl un parlamentare presenta più emendamenti, oltre la soglia di 40, il valore attribuito a ciascun emendamento progressivamente diminuisce fino a risultare residuale.
    </section>
  </div>
  
  
   <div id="ranking" class="anchored-content">
     <a name="ranking"></a>
     <section class="header">
       <h3>Ranking degli atti</h3>
     </section>
     <section class="content">
All’interno della stessa tipologia non tutti gli atti hanno lo stesso peso (politico, nell’opinione pubblica e per gli effetti prodotti).<br/>
Quindi sono stati suddivisi in 3 categorie di importanza che corrispondono ad un moltiplicatore (X1, X2, X3) dell’indice di produttività assegnato ai parlamentari che ci hanno lavorato.
    </section>
  </div>

  <div id="tabella" class="anchored-content">
    <a name="tabella"></a>
    <section class="header">
      <h3>La tabella di valutazione</h3>
      <small>[<a href="#su">torna su</a>]</small>
    </section>
    <section class="content">
      <img src="https://s3-eu-west-1.amazonaws.com/op-images/indice_produttivita_2015.png" border=0 />
    </section>
  </div>
</section>
{% endblock %}

{% block js_footer %}
  {{ block.super }}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 

      // fix sub nav on scroll
      var $win = $(window)
        , $nav = $('.spyable')
        , navTop = $('.spyable').length && $('.spyable').offset().top + 80
        , isFixed = 0

      processScroll()

      $win.on('scroll', processScroll)

      function processScroll() {
        var i, scrollTop = $win.scrollTop()
        
        if (scrollTop >= navTop && !isFixed) {
          isFixed = 1
          $nav.addClass('subnav-fixed')
        } else if (scrollTop <= navTop && isFixed) {
          isFixed = 0
          $nav.removeClass('subnav-fixed')
        }
      }
    });
  </script>  
{% endblock %}
