{% extends "base_parlamentari.html" %}
{% load i18n %}

{% block title %}| {{type}} {% trans "by region" %}{% endblock %}
{% block head_includes %}
  {{ block.super }}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
      $("#constituency-chart").tablesorter({
          sortList: [[1, 1]], 
          widgets: ['zebra']}); 
    });  
  </script>  
{% endblock %}

{% block constituency_class %}class="active"{% endblock %}

{% block content %}
<h2 style="font-size:24px;font-weight:bold;text-align:center;"><a href="http://blog.openpolis.it/2014/11/03/pubblicato-il-minidossier-indice-di-produttivita-parlamentare/">Scarica il rapporto "Indice di Produttività Parlamentare 2014"</a></h2>
Confronto tra le regioni (Circoscrizioni elettorali di elezione) in base alla media dell'<a href="/info.html">Indice di Produttività Parlamentare</a> e del tasso di assenza, fatti registrare da ciascun/a parlamentare dall'inizio della Legislatura (aprile 2008).<br/>
Dagli elenchi stati esclusi il Presidente della Camera, i Deputati che hanno incarichi di Governo (Ministri, Viceministri, Sottosegretari) e coloro che hanno assunto l'incarico parlamentare da meno di 12 mesi.<br/>
Per ordinare, in maniera crescente o decrescente, l'elenco per "regione", "media indice" (di Produttività), "tasso di assenza" e "numero di deputati" (eletti in ciascuna Regione), fare click sul titolo della colonna corrispondente.
  {{ block.super }}
  <table id="constituency-chart" class="chart tablesorter">
    <thead>
      <tr>
        <th scope="col">{% trans "region" %}</th>
        <th scope="col">{% trans "index avg" %}</th>
        <th scope="col">{% trans "absence rate" %}</th>
        <th scope="col">n. {{ type|lower}}</th>
      </tr>      
    </thead>
    <tbody>
      {% for rec in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ rec.regione }}</td>
          <td class="numeric-value">{{ rec.indice_medio|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.perc_assenze|floatformat:2 }} %</td>
          <td class="numeric-value">{{ rec.n }}</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  <ul>
  </ul>
{% endblock %}
