{% extends "base_parlamentari.html" %}
{% load i18n %}

{% block title %}| {{ type }} {% trans "by sex" %}{% endblock %}
{% block sex_class %}class="active"{% endblock %}
{% block content %}
<h2 style="font-size:24px;font-weight:bold;text-align:center;"><a href="http://blog.openpolis.it/2014/11/03/pubblicato-il-minidossier-indice-di-produttivita-parlamentare/">Scarica il rapporto "Indice di Produttività Parlamentare 2014"</a></h2>
Confronto tra Donne e Uomini in base alla media dell'<a href="/info.html">Indice di Produttività Parlamentare</a> e del tasso di assenza, fatti registrare da ciascun/a parlamentare dall'inizio della Legislatura (aprile 2008).
  {{ block.super }}
  <table class="chart tablesorter">
    <thead>
      <tr>
        <th>{% trans "sex" %}</th>
        <th>{% trans "index avg" %}</th>
        <th>{% trans "absence rate" %}</th>
        <th>n. {{ type|lower }}</th>
      </tr>      
    </thead>
    <tbody>
      {% for rec in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>
            {% if rec.sesso == 'M' %}
              {% trans "Men" %}
            {% else %} 
              {% if rec.sesso == 'F' %}
                {% trans "Women" %}
              {% else %} 
                {% trans "Unknown" %}
              {% endif %}
            {% endif %}
          </td>
          <td class="numeric-value">{{ rec.indice_medio|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.perc_assenze|floatformat:2 }} %</td>
          <td class="numeric-value">{{ rec.n }}</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  <ul>
  </ul>
{% endblock %}
