{% extends "base_parlamentari.html" %}
{% load i18n %}

{% block title %}| {% trans "list of" %} {{ type }}{% endblock %}


{% block list_class %}class="active"{% endblock %}

{% block content %}
  {% load charts_tags %}
  <h2 style="font-size:24px;font-weight:bold;text-align:center;"><a href="http://camereaperte2011.openpolis.it">Scarica il rapporto "CAMERE APERTE 2011"</a><span style="font-size:12px;font-weight:normal;">&nbsp;&nbsp;[pdf, 1.2mb]</span></h2> 
  Classifica dei {{type}} in base all'Indice di Produttività Parlamentare [per conoscere la metodologia di valutazione <a href="/info.html">clicca qui</a>].<br/>
  Dall'elenco stati eliminati il Presidente della Camera, i {{type}} che hanno incarichi di Governo (Ministri, Viceministri, Sottosegretari) e coloro che hanno assunto l'incarico di parlamentare da meno di 12 mesi.<br/>
  Per ordinare, in maniera crescente o decrescente, l'elenco per "nome" (cognome), "indice" (di Produttività) e "tasso di assenza", fare click sul titolo della colonna corrispondente.
  
  <section style="background:lightyellow;margin-top: 1em;padding:1em;font-size:18px;width=75%">
    Attenzione!! I parlamentari in evidenza sono entrati in carica <strong>dopo l'inizio della legislatura</strong> e la loro posizione in classifica è falsata dal minor tempo avuto a disposizione per lavorare.
  </section>
  {{ block.super }}
  
  <table id="complete-chart" class="chart tablesorter">
    <thead>
      <tr> 
        <th>{% trans "name" %}</th>
        <th class="{sorter: 'digit'}" style="min-width: 100px">{% trans "index" %}</th>  
        <th class="{sorter: 'percent'}" style="min-width: 120px">{% trans "absence rate" %}</th>  
        <th style="min-width: 80px">{% trans "group" %}</th>  
        <th>{% trans "constituency" %}</th>  
      </tr>
    </thead>

    <tbody>		
      {% for rec in object_list %}
        {% if rec.data_inizio_incarico %}
          <tr class="yellow">
        {% else %}
          <tr>        
        {% endif %}
            <td>
              <span class="cognome" style="display:none">{{ rec.cognome }}</span>
              <p class="politician-id">
                <a href="{{openparlamento_url}}/parlamentare/{{rec.politico_id}}" 
                   target="_blank" title="{% trans 'go to page on openparlamento.it' %}">
                   {{ rec.nome }} {{ rec.cognome }}
                </a><br/>
                {% if rec.data_inizio_incarico %}
                <small style="background-color:yellow;">
                  N.B. subentrato in data {{ rec.data_inizio_incarico}}
                </small>                
                {% endif %}
            
              </p>
            </td>
            <td class="numeric-value">
              <span class="value">{{ rec.indice|floatformat:1 }}</span>
              <br />
              <span class="small">(pos. {{rec.indice_pos}})</span>
            </td>
            <td class="numeric-value">
              <span class="machine-sort" style="display:none">{{ rec.perc_assenze|multiply_by:100|floatformat:0 }}</span>            
              <span class="value">{{ rec.perc_assenze|floatformat:2 }} % </span>
              <br />
              <span class="small">({{rec.assenze|floatformat:0}} {% trans "on" %} {{rec.votazioni|floatformat:0}})</span>
          
            </td>
            <td class="centered">{{ rec.acronimo }}</td>
            <td class="centered">{{ rec.circoscrizione }}</td>
          </tr>
      {% endfor %}    

      </tr>
    </tbody>
  </table>
  
{% endblock %}

{% block js_footer %}
  {{ block.super }}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
      $("#complete-chart").tablesorter({
        sortList: [[1, 1]], 
        headers: { 3: {sorter: false}, 4: {sorter: false} },
        widgets: ['zebra']
      }); 
    });  
  </script>  
{% endblock %}

