/* Created by http://freehtml5templates.com */

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
  display: block;
}

body {
  background: #E6E1D8 url(/images/bg-body.png) repeat-x 0% 0%;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
	
/* basics */
a { 
  color:#004C9A; 
  text-decoration: none; 
}
a:hover, a:active { color: #333; }
ul { list-style-type: none; }
p { line-height: 1.2em; }

table tbody th {
  text-align: left;
  font-weight: normal;
}


/* layout */

#wrapper { min-width:1004px; width: auto !important; width: 1004px; margin: 1px auto 10px auto; }
#wrapper-800 { min-width:750px; width: auto !important; width: 750px; margin: 1px auto 10px auto; }

header { margin: 0 12px; }

/* nav */
nav { 
  background: #f7f7ea url(/images/bg-navigation.png) repeat-x top left; 
  min-height:24px; 
  height: auto !important; 
  padding: 5px 5px 0 30px;
 }

nav li { float: left;  }
nav a, nav .active { 
  color: #f58300; 
  font-size: 18px; 
  padding: 0 6px; 
  margin-right: 15px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px; 
  font-weight: bold; 
}
nav a:hover, nav .active { 
  color: #fff; 
  background-color: #f58300; 
  text-decoration: none; 
}
#wrapper-800 nav { padding-left: 15px; }
#wrapper-800 nav a, #wrapper-800 #nav .current { margin-right: 10px; }

nav#sub {
  font-size: 14px;
  background-image: none;
  background-color: #f7f7ea;
}

nav#sub a {
  font-weight: normal;  
}


#logos {
  background: #6A9EB9 url(/images/bg-tools.jpg) no-repeat 0% 0%;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  color: white;
  font-size: 11px;
  height: 73px;
  padding: 12px 20px 0px 45px;
}

#logos h1 {
  float: left;
  font-size: 250%;
  margin-top: 10px;
  margin-left: 2em;
  width: 60%;
}



#main {
  margin: 0 12px;
  padding-top: 30px;
  background-color: #FFF;
  overflow: hidden;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

#content {
  width: 96%;
  float: left;
  margin-left: 20px;
}


table.chart { 
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

table.chart thead {
  background: url("/images/bg-table-head.png") repeat-x scroll left top transparent;
  border-left: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 30px;
}

table.chart thead th {
  background: transparent url("/images/bg-table-head-cell.png") no-repeat top right;
}


table.chart thead th {
  padding: 0 5px 5px 5px;
  font-size: 11px;
  vertical-align: bottom;
}

table.chart tbody th, table.chart tbody td  { 
  padding: 10px 1px 5px 0; 
  border-bottom: 1px solid #dfe0e0; 
  border-top: 1px solid #fff; 
  color: #000;
}
table.chart tbody tr { padding-bottom: 3px; }
table.chart tbody td.centered { text-align: center; }
table.chart tbody tr.even { background-color: #ffffff; }
table.chart tbody tr.odd { background-color: #fafafa; }
table.chart tbody tr:hover { background-color: #fffaea; }
table.chart td.numeric-value { font-weight: bold; text-align: center; padding-right: 0.4em;}
table.chart .politician-id img { 
  background: transparent url("/images/bg-ico-portrait-small.png") no-repeat center center; 
  padding: 6px; 
  margin: 0 2px; 
  vertical-align: middle; 
}

table.chart tbody tr .evident {
  background-color: #FEF3DB;
  border-right: 1px solid white;
}

table.chart thead th.evident {
  background: transparent url("/images/bg-table-head-cell-evident.png") no-repeat top right;
  border-left: 1px solid #E6C29D;
  border-top: 1px solid #E6C29D;
}
table.chart td span.small {
  font-size: 11px;
  color: #888;
}

footer {
  margin: 0 12px;
  clear: both;
}


#content ul, #content ol, #content hr {
  margin-bottom: 24px;
}

#content ul ul, #content ol ol, #content ul ol, #content ol ul {
  margin-bottom: 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #333;
  margin: 0 0 20px 0;
  line-height: 1.5em;
}

#content h2 {
  font-size: 28px;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}



#intro-text {
  font-size: 16px;
  margin: 0.5em 0 1em 0;
  padding: 0 0.5em;
  line-height: 1.4em;
}

#top-deputati {
  width: 48%;
  float: left;
}

#top-senatori {
  width: 48%;
  float: right;
  
}

.top-chart {
  width: 45%;
  padding: 0.5em;
  margin-bottom: 1em;
}
.top-chart h3 {
  text-align: center;
}
.top-chart .link-to-all {
  text-align: right;
  margin: 0.5em 0 1em 0;
}

#location-search {
  text-align: center;
  margin-bottom: 1em;
}

#location-search input {
  font-size: 16px;
}
