<table class="chart">
  <tbody>
    {% for rec in mps %}
      <tr class="yellow">
        <th scope="row">
          <p class="politician-id">
            <img width="40" height="53" 
                {% if fetch_s3_images %}
                  src="http://op_openparlamento_images.s3.amazonaws.com/parlamentari/thumb/{{rec.politico_id}}.jpeg"
                {% else %}
                  src="/images/ico-type-politico-portrait.png"
                {% endif %}
                alt="Ico-type-politico-portrait">	
            <a href="{{openparlamento_url}}/parlamentare/{{rec.politico_id}}" 
               target="_blank" title="vai alla sua pagina su openparlamento.it">{{ rec.nome }} {{ rec.cognome }} ({{ rec.acronimo }})</a>
           {% if rec.data_inizio_incarico %}
           <br/>
           <small style="background-color:yellow;">
             N.B. subentrato il {{ rec.data_inizio_incarico}}
           </small>                
           {% endif %}
            
          </p>
        </th>
        <td class="numeric-value evident">{{ rec.indice|floatformat:1 }}</td>
      </tr>
    {% endfor %}    
  </tbody>
</table>

