{% extends "base.html" %}
{% load i18n %}

{% block title %}| {{ type }}{% endblock %}

{% block head_includes %}
  <link rel="stylesheet" href="/css/tablesorter_themes/blue/style.css" type="text/css" media="print, projection, screen">
  <script type="text/javascript" src="/javascripts/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.metadata.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block deputati_class %}
  {% if type == 'deputati' %}
    class="active"
  {% endif %}
{% endblock %}

{% block senatori_class %}
  {% if type == 'senatori' %}
    class="active"
  {% endif %}
{% endblock %}

{% block sub_nav %}
  <nav id="sub"><!-- sub nav -->
    <ul>
      <li id="sub-nav-list">
        <a href="/{{type|lower}}.html" {% block list_class %}{% endblock %}>{% trans "complete list" %}</a>
      </li>
      <li id="sub-nav-sex">
        <a href="/{{type|lower}}/sex.html" {% block sex_class %}{% endblock %}>{% trans "by sex" %}</a>
      </li>
      <li id="sub-nav-group">
        <a href="/{{type|lower}}/group.html" {% block group_class %}{% endblock %}>{% trans "by group" %}</a>
      </li>
      <li id="sub-nav-constituency">
        <a href="/{{type|lower}}/constituency.html" {% block constituency_class %}{% endblock %}>{% trans "by region" %}</a>
      </li>
    </ul>
	</nav><!-- end of sub nav -->	
{% endblock %}

{% block content %}
  <div style="text-align: right; margin: 1.5em 0; font-size: 13px">
    {% blocktrans %}Data extracted on{% endblocktrans %} {{  extraction_date|date:"DATE_FORMAT" }}
  </div>
{% endblock %}

