{% extends "base.html" %}
{% load i18n %}
{% load generic_flatblocks %}

{% block title %}| Home{% endblock %}
{% block head_includes %}
  <style>
    .ui-autocomplete-loading { background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    #city { width: 20em; }
  	.ui-autocomplete {
  		max-height: 10em;
  		overflow-y: auto;
  		/* prevent horizontal scrollbar */
  		overflow-x: hidden;
  		/* add padding to account for vertical scrollbar */
  		padding-right: 20px;
  	}
  	/* IE 6 doesn't support max-height
  	 * we use height instead, but this forces the menu to always be this tall
  	 */
  	* html .ui-autocomplete {
  		height: 10em;
  	}
  </style>
	<link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.9.custom.css" type="text/css" media="all" /> 
  <script type="text/javascript" src="/javascripts/jquery-ui-autocompleter.custom.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() { 
      $('#city').focus(function(){
        if ($(this)._cleared) return;
        $(this).val('');
        $(this)._cleared = true;
      });  


      $( "#city" ).autocomplete({
        /*
  			source: function( request, response ) {
  				$.ajax({
  					url: "http://op_openpolis.openpolis.it/fe_dev.php/json_getLocationsForIndiceAutocompleter?name_starts_with="+request.term,
  					dataType: "jsonp",
  					success: function( data ) {
  						response( $.map( data.locations, function( item ) {
  							return {
  								label: item.label,
  								value: item.circ
  							}
  						}));
  					}
  				});
  			},
  			*/
  			source: function( request, response ) {
  				$.ajax({
  					url: "http://api.geonames.org/searchJSON?formatted=true&name_startsWith="+request.term+"&maxRows=10&lang=it&username=openpolis&style=short",
  					dataType: "jsonp",
  					success: function( data ) {
  						response( $.map( data.geonames, function( item ) {
  							return {
  								label: item.name,
  								value: item.name
  							}
  						}));
  					}
  				});
  			},
  			
        minLength: 2,
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });

    });
  </script>      
{% endblock %}

{% block content %}
  {% load charts_tags %}
  <section id="intro-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan eleifend lectus ac adipiscing. Nullam condimentum elementum nibh quis rutrum. Fusce felis neque, ultricies non placerat at, elementum in nulla. Proin vel ultrices ligula. Maecenas mattis augue non ante gravida at aliquam libero imperdiet. In risus metus, egestas sit amet faucibus eget, tristique sit amet felis.</p> 
    
  </section>

  <section id="city-search" class="ui-widget">
    <label for"city">{% trans "your MPs charts" %}</label><br/>
    <input id="city" value="{% trans 'insert your city name' %}" />
  </section>
  
  <section id="top-deputati" class="top-chart">
    <h3>{% trans "Top 10 deputati" %}</h3>
    {% get_top 10 deputati as mps asof extraction_date %}
    {% include "charts/_mps_table_with_pictures.html" %}
    <div class="link-to-all"><a href="/deputati.html">{% trans "go to the complete list" %}</a></div>
  </section>

  <section id="top-senatori" class="top-chart">
    <h3>{% trans "Top 10 senatori" %}</h3>
    {% get_top 10 senatori as mps asof extraction_date %}
    {% include "charts/_mps_table_with_pictures.html" %}
    <div class="link-to-all"><a href="/senatori.html">{% trans "go to the complete list" %}</a></div>
  </section>
  

{% endblock %}


