{% extends "base.html" %}
{% load i18n %}
{% load generic_flatblocks %}

{% block title %}| Home{% endblock %}
{% block head_includes %}
  <style>
    .ui-autocomplete-loading { background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    #city { width: 20em; }
  	.ui-autocomplete {
  		max-height: 10em;
  		overflow-y: auto;
  		/* prevent horizontal scrollbar */
  		overflow-x: hidden;
  		/* add padding to account for vertical scrollbar */
  		padding-right: 20px;
  	}
  	/* IE 6 doesn't support max-height
  	 * we use height instead, but this forces the menu to always be this tall
  	 */
  	* html .ui-autocomplete {
  		height: 10em;
  	}
  </style>
	<link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.9.custom.css" type="text/css" media="all" /> 
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-autocompleter.custom.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
      $('#city').focus(function(){
        if ($(this)._cleared) return;
        $(this).val('');
        $(this)._cleared = true;
      });  
      
  		$( "#city" ).autocomplete({
  			source: function( request, response ) {
  				$.ajax({
  					url: "http://api.geonames.org/searchJSON",
  					dataType: "jsonp",
  					data: {
  					  username: 'openpolis',
  						fcl: "A",
  						fcode: 'ADM3',
  						style: "full",
  						country: 'IT',
  						lang: 'it',
  						maxRows: 15,
  						name_startsWith: request.term
  					},
  					success: function( data ) {
  						response( $.map( data.geonames, function( item ) {
  							return {
  								label: item.name + (item.adminName2 ? " ("+ item.adminName2 +")": ""),
  								value: item.name
  							}
  						}));
  					}
  				});
  			},
  			minLength: 2,
  			select: function( event, ui ) {
  				window.location.href = 'http://{{ current_site_domain }}/' + ui.item.value; 
  			},
  			open: function() {
  				$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  			},
  			close: function() {
  				$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  			}
  		});
    	
    });
  </script>      
{% endblock %}

{% block content %}
  {% load charts_tags %}
  <section id="intro-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan eleifend lectus ac adipiscing. Nullam condimentum elementum nibh quis rutrum. Fusce felis neque, ultricies non placerat at, elementum in nulla. Proin vel ultrices ligula. Maecenas mattis augue non ante gravida at aliquam libero imperdiet. In risus metus, egestas sit amet faucibus eget, tristique sit amet felis.</p> 
    <p>In accumsan tellus commodo quam suscipit ut gravida est ullamcorper. Sed vel lorem mauris. Etiam id pulvinar enim. Aenean iaculis, metus non viverra fermentum, nunc arcu faucibus nunc, vel congue augue erat ut augue. Quisque non risus nunc. Ut nec tempor est. Sed quis ultrices turpis. Sed non elit quis ante euismod eleifend. Nunc interdum massa at dolor malesuada sed consectetur velit posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </section>

  <section id="city-search" class="ui-widget">
    <label for"city">{% trans "your MPs charts" %}</label><br/>
    <input id="city" value="{% trans 'insert your city name' %}" />
  </section>
  
  <section id="top-deputati" class="top-chart">
    <h3>{% trans "Top 10 deputati" %}</h3>
    {% get_top 10 deputati as mps asof extraction_date %}
    {% include "charts/_mps_table_with_pictures.html" %}
    <div class="link-to-all"><a href="/deputati">{% trans "go to the complete list" %}</a></div>
  </section>

  <section id="top-senatori" class="top-chart">
    <h3>{% trans "Top 10 senatori" %}</h3>
    {% get_top 10 senatori as mps asof extraction_date %}
    {% include "charts/_mps_table_with_pictures.html" %}
    <div class="link-to-all"><a href="/senatori">{% trans "go to the complete list" %}</a></div>
  </section>
  

{% endblock %}


