{% extends "base.html" %}

{% block title %}| Location{% endblock %}

{% block content %}
  {% load charts_tags %}
  <section id="intro-text">
    <a href="/">Torna alla classifica generale</a>
  </section>

  <section id="top-senatori" class="top-chart">
    <h3>Senatori circoscrizione {{ constituencies.senato }}</h3>
    {% get_mps oftype senatori in constituencies.senato asof extraction_date as mps %}
    {% include "charts/_mps_table_with_pictures.html" %}
  </section>
  

  <section id="top-deputati" class="top-chart">
    <h3>Deputati circoscrizione {{ constituencies.camera }}</h3>
    {% get_mps oftype deputati in constituencies.camera asof extraction_date as mps %}
    {% include "charts/_mps_table_with_pictures.html" %}
  </section>

{% endblock %}


