{% extends "base.html" %}

{% block title %}| Location{% endblock %}

{% block content %}
  {% load charts_tags %}
  <section id="intro-text">
    Classifiche per la località {{ params.location_id }}
  </section>
  
  <section id="top-deputati" class="top-chart">
    <h3>Top 10 dei deputati</h3>
    {% get_top 10 deputati as top_ten_deputati asof 16/12/2010 %}
    <table id="complete-chart">
      <tbody>
        {% for rec in top_ten_deputati %}
          <tr>
            <td><a href="{{openparlamento_url}}/parlamentare/{{rec.politico_id}}" target="_blank" title="vai alla sua pagina su openparlamento.it">{{ rec.nome }} {{ rec.cognome }}</a> ({{ rec.acronimo }})</td>
            <td class="number">{{ rec.indice|floatformat:1 }}</td>
          </tr>
        {% endfor %}    
      </tbody>
    </table>
    <div class="link-to-all"><a href="/deputati">vai all'elenco completo</a></div>
  </section>

  <section id="top-senatori" class="top-chart">
    <h3>Top 10 dei senatori</h3>
    {% get_top 10 senatori as top_ten_senatori asof 16/12/2010 %}
    <table id="complete-chart">
      <tbody>
        {% for rec in top_ten_senatori %}
          <tr>
            <td><a href="{{openparlamento_url}}/parlamentare/{{rec.politico_id}}" target="_blank" title="vai alla sua pagina su openparlamento.it">{{ rec.nome }} {{ rec.cognome }}</a> ({{ rec.acronimo }})</td>
            <td class="number">{{ rec.indice|floatformat:1 }}</td>
          </tr>
        {% endfor %}    
      </tbody>
    </table>
    <div class="link-to-all"><a href="/senatori">vai all'elenco completo</a></div>
  </section>
  
  <section id="location-search">
    Per il tuo comune:
    <input type="text" value=""/>
    <input type="submit" value="Cerca"/>
  </section>

{% endblock %}


