{% extends "charts/base_parlamentari.html" %}
{% load i18n %}

{% block title %}| {% trans "list of" %} {{ type }}{% endblock %}

{% block head_includes %}
  {{ block.super }}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
      $("#complete-chart").tablesorter({
        sortList: [[1, 1]], 
        headers: { 3: {sorter: false}, 4: {sorter: false} },
        widgets: ['zebra']
      }); 
    });  
  </script>  
{% endblock %}

{% block list_class %}class="active"{% endblock %}

{% block content %}
  {% load charts_tags %}
  {{ block.super }}
  
  <h4>{{objects_count}} {{type|lower}}</h4>
  
  <table id="complete-chart" class="chart tablesorter">
    <thead>
      <tr> 
        <th>{% trans "name" %}</th>
        <th class="{sorter: 'digit'}" style="min-width: 100px">{% trans "index" %}</th>  
        <th class="{sorter: 'percent'}" style="min-width: 120px">{% trans "absence rate" %}</th>  
        <th style="min-width: 80px">{% trans "group" %}</th>  
        <th>{% trans "constituency" %}</th>  
      </tr>
    </thead>

    <tbody>		
      {% for rec in object_list %}
        <tr>
          <td>
            <span class="cognome" style="display:none">{{ rec.cognome }}</span>
            <p class="politician-id">
              <a href="{{openparlamento_url}}/parlamentare/{{rec.politico_id}}" 
                 target="_blank" title="{% trans 'go to page on openparlamento.it' %}">
                 {{ rec.nome }} {{ rec.cognome }}
                 </a>
            </p>
          </td>
          <td class="numeric-value">
            <span class="value">{{ rec.indice|floatformat:1 }}</span>
            <br />
            <span class="small">(pos. {{rec.indice_pos}})</span>
          </td>
          <td class="numeric-value">
            <span class="machine-sort" style="display:none">{{ rec.perc_assenze|multiply_by:100|floatformat:0 }}</span>            
            <span class="value">{{ rec.perc_assenze|floatformat:2 }} % </span>
            <br />
            <span class="small">({{rec.assenze|floatformat:0}} {% trans "on" %} {{rec.votazioni|floatformat:0}})</span>
            
          </td>
          <td class="centered">{{ rec.acronimo }}</td>
          <td class="centered">{{ rec.circoscrizione }}</td>
        </tr>
      {% endfor %}    

      </tr>
    </tbody>
  </table>
  
{% endblock %}

