{% extends "charts/parlamentari.html" %}

{% block title %}| Elenco {{ type }}{% endblock %}
{% block deputati_class %}class="active"{% endblock %}
{% block list_class %}class="active"{% endblock %}

{% block content %}
  <table id="complete-chart">
    <tbody>
      <tr>
        <th>Nome</th>
        <th>Gruppo</th>
        <th>Circoscrizione</th>
        <th>Indice</th>
        <th>% Assenze</th>
      </tr>
      {% for rec in object_list %}
        <tr>
          <td>{{ rec.nome }} {{ rec.cognome }}</td>
          <td>{{ rec.acronimo }}</td>
          <td>{{ rec.circoscrizione }}</td>
          <td class="number">{{ rec.indice|floatformat:1 }}</td>
          <td class="number">{{ rec.perc_assenze|floatformat:1 }} %</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}
