{% extends "charts/parlamentari.html" %}

{% block title %}| {{ type }} per sesso{% endblock %}
{% block sex_class %}class="active"{% endblock %}

{% block content %}
  {{ block.super }}
  <table class="chart tablesorter">
    <thead>
      <tr>
        <th>sesso</th>
        <th>n. {{ type|lower }}</th>
        <th>indice totale</th>
        <th>media indice</th>
        <th>media assenze</th>
      </tr>      
    </thead>
    <tbody>
      {% for rec in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>
            {% if rec.sesso == 'M' %}
              Uomini
            {% else %} 
              {% if rec.sesso == 'F' %}
                Donne
              {% else %} 
                Non specificato
              {% endif %}
            {% endif %}
          </td>
          <td class="numeric-value">{{ rec.n }}</td>
          <td class="numeric-value">{{ rec.indice_totale|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.indice_medio|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.perc_assenze|floatformat:2 }} %</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  <ul>
  </ul>
{% endblock %}
