{% extends "base.html" %}

{% block title %}| {{type}}{% endblock %}

{% block head_includes %}
  <link rel="stylesheet" href="/css/tablesorter_themes/blue/style.css" type="text/css" media="print, projection, screen">
  <script type="text/javascript" src="/javascripts/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.metadata.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block deputati_class %}
  {% if type == 'Deputati' %}
    class="active"
  {% endif %}
{% endblock %}

{% block senatori_class %}
  {% if type == 'Senatori' %}
    class="active"
  {% endif %}
{% endblock %}

{% block sub_nav %}
  <nav id="sub"><!-- sub nav -->
    <ul>
      <li id="sub-nav-list">
        <a href="/{{type|lower}}" {% block list_class %}{% endblock %}>Elenco completo</a>
      </li>
      <li id="sub-nav-sex">
        <a href="/{{type|lower}}/sex" {% block sex_class %}{% endblock %}>Per sesso</a>
      </li>
      <li id="sub-nav-group">
        <a href="/{{type|lower}}/group" {% block group_class %}{% endblock %}>Per gruppo</a>
      </li>
      <li id="sub-nav-constituency">
        <a href="/{{type|lower}}/constituency" {% block constituency_class %}{% endblock %}>Per circoscrizione</a>
      </li>
    </ul>
	</nav><!-- end of sub nav -->	
{% endblock %}

{% block content %}
  <div style="text-align: right; margin-bottom: 1em; font-size: 13px">Dati estratti il {{ extraction_date }}</div>
{% endblock %}

