{% extends "charts/base_parlamentari.html" %}
{% load i18n %}

{% block title %}| {{ type }} {% trans "by group" %}{% endblock %}
{% block head_includes %}
  {{ block.super }}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
      $("#group-chart").tablesorter({
          sortList: [[1, 1]], 
          headers: { 0: {sorter: false} },
          widgets: ['zebra']}); 
    });  
  </script>  
{% endblock %}

{% block group_class %}class="active"{% endblock %}

{% block content %}
  {{ block.super }}

  <table id="group-chart" class="chart tablesorter">
    <thead>
      <tr>
        <th scope="col">{% trans "group" %}</th>
        <th scope="col">{% trans "index avg" %}</th>
        <th scope="col">{% trans "absence rate" %}</th>
        <th scope="col">n. {{ type|lower }}</th>
      </tr>      
    </thead>
    <tbody>
      {% for rec in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ rec.gruppo }}</th>
          <td class="numeric-value">{{ rec.indice_medio|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.perc_assenze|floatformat:2 }} %</td>
          <td class="numeric-value">{{ rec.n }}</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  <ul>
  </ul>
{% endblock %}
