{% extends "charts/parlamentari.html" %}

{% block title %}| {{ type }} per gruppo{% endblock %}
{% block head_includes %}
  {{ block.super }}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
      $("#group-chart").tablesorter({
          sortList: [[1, 1]], 
          headers: { 2: {sorter: false} },
          widgets: ['zebra']}); 
    });  
  </script>  
{% endblock %}

{% block group_class %}class="active"{% endblock %}

{% block content %}
  {{ block.super }}

  <table id="group-chart" class="chart tablesorter">
    <thead>
      <tr>
        <th scope="col">gruppo</th>
        <th scope="col">n. {{ type|lower }}</th>
        <th scope="col">indice totale</th>
        <th scope="col">media indice</th>
        <th scope="col">media assenze</th>
      </tr>      
    </thead>
    <tbody>
      {% for rec in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ rec.acronimo }}</th>
          <td class="numeric-value">{{ rec.n }}</td>
          <td class="numeric-value">{{ rec.indice_totale|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.indice_medio|floatformat:1 }}</td>
          <td class="numeric-value">{{ rec.perc_assenze|floatformat:2 }} %</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  <ul>
  </ul>
{% endblock %}
