{% extends "base.html" %}

{% block title %}| Senatori{% endblock %}
{% block senatori_class %}class="active"{% endblock %}

{% block content %}
  <table id="complete-chart">
    <tbody>
      <tr>
        <th>nome</th>
        <th>gruppo</th>
        <th>circoscrizione</th>
        <th>indice</th>
        <th>%assenze</th>
      </tr>
      {% for rec in records %}
        <tr>
          <td>{{ rec.nome }} {{ rec.cognome }}</td>
          <td>{{ rec.acronimo }}</td>
          <td>{{ rec.circoscrizione }}</td>
          <td class="number">{{ rec.indice|floatformat:1 }}</td>
          <td class="number">{{ rec.perc_assenze|floatformat:1 }} %</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}


{% block whatis %}
  <p>Classifica dei senatori.</p>
{% endblock %}

