{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% trans "Productivity index" %} {% block title %}{% endblock %}</title>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  {% block head_includes %}
  {% endblock %}
  <link rel="icon" href="favicon.ico" type="image/x-icon"> 
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 

  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/print.css"  type="text/css" media="print" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div id="wrapper"><!-- #wrapper -->

  <header>
    <section id="logos">
      <h1>
        <a href="/"><img src="/images/logo-indice.png" border="0"/></a>
        <a href="http://www.openpolis.it" id="logo-strumento-openpolis"><img src="/images/logo-strumento-openpolis.png" border="0"/></a>
      </h1>
    </section>
    
    <nav id="main"><!-- top nav -->
      <ul style="clear:both; float: left">
        <li id="main-nav-deputati">
          <a href="/deputati.html" {% block deputati_class %}{% endblock %}>Deputati</a>
        </li>
        <li id="main-nav-senatori">
          <a href="/senatori.html" {% block senatori_class %}{% endblock %}>Senatori</a>
        </li>
        <li id="main-nav-methodology">
          <a href="/info.html" {% block methodology_class %}{% endblock %}>Info</a>
        </li>
      </ul>         
    </nav><!-- end of top nav -->

    {% block sub_nav %}    
    {% endblock %}
      
  </header>

    <section id="main"><!-- #main content and sidebar area -->

        <section id="content"><!-- #content -->
          {% block content %}      
          {% endblock %}      
        </section><!-- end of #content -->

    </section><!-- end of #main content and sidebar-->



    <footer class="container">
        <section class="row" id="global-navigation">            
            <nav class="threecol">
                <h3>L'Associazione Openpolis</h3>
                <ul>
                    <li><a href="http://www.openpolis.it/chi-siamo/">Chi siamo e cosa facciamo</a></li>
                    <li><a href="http://www.openpolis.it/faq">FAQ</a></li>
                </ul>
                <h3>Sostienici</h3>
                <ul>
                    <li><a href="http://www.openpolis.it/sostienici/">Diventa socio</a></li>
                    <li><a href="http://www.openpolis.it/sostienici/dona/">Fai una donazione</a></li>
                    <li><a href="http://www.openpolis.it/sostienici/collabora/">Collabora con noi</a></li>
                </ul>
            </nav>
            <nav class="threecol">
                <h3>Progetti</h3>
                <ul>
                    <li><a href="http://www.openparlamento.it/">Openparlamento</a></li>
                    <li><a href="http://www.openpolis.it/">Openpolis</a></li>
                    <li><a href="http://indice.openpolis.it/">Indice di produttività parlamentare</a></li>
                    <li><a href="http://www.voisietequi.it/">Voi siete qui</a></li>
                    <li><a href="">Openblog</a></li>
                </ul>
            </nav>
            <section class="threecol">
                <h3>Software Libero</h3>
                <ul>
                    <li><a href="http://trac.openpolis.it/openpolis/browser/trunk">Codice Sorgente</a></li>
                    <li><a href="http://www.gnu.org/copyleft/gpl.html">Licenza GNU/GPL</a></li>
                    <li><a href="http://www.openpolis.it/software">I Software utilizzati</a></li>
                </ul>
                <a href="https://github.com/openpolis"><span class="icon trac">Git</span></a>
                <a href="http://trac.openpolis.it/openpolis/wiki"><span class="icon google">Trac</span></a>
                <div class="clearfix"></div>
            </section>
            <section class="threecol last">
                <h3>Restiamo in contatto</h3>	
                <p>Per segnalazioni, suggerimenti, lamentele ma anche incoraggiamenti:</p>
                <h4>Associazione Openpolis</h4>
                <p>via dei Sabelli 215 - 00185 Roma<br />
                    T. 06.83608392 associazione@openpolis.it <br /> 
                    C.I. 97532050586
                </p>
                <a href="http://www.facebook.com/openpolis"><span class="icon facebook">Facebook</span></a>
                <a href="http://feeds.feedburner.com/openpolis"><span class="icon feed">Feed RSS</span></a>
                <a href="http://twitter.com/openpolis"><span class="icon twitter">Twitter</span></a>
            </section>            
        </section>


        <nav id="sub-footer" class="row">
            <ul class="elevencol prefixone">
                <li><img src="/images/footers/openpolis.png" alt="Servizi offerti da OpenPolis" title="I Servizi" /></li>
                <li><a href="http://parlamento.openpolis.it"><img src="/images/footers/openparlamento.png" alt="Open Parlamento" title="Open Parlamento" /></a></li>
                <li><a href="http://openpolis.it"><img src="/images/footers/openpolis-assoc.png" alt="Associazione OpenPolis" title="L'Associazione" /></a></li>
                <li><a href="http://voisietequi.openpolis.it"><img src="/images/footers/voisietequi.png" alt="Voi Siete Qui" title="Voi Siete Qui" /></a></li>
                <li><a href="http://indice.openpolis.it/"><img src="/images/footers/indiceproduttivita.png" alt="L'Indice di Produttività Parlamentare" title="L'Indice di Produttività Parlamentare" /></a></li>
            </ul>            
        </nav>
    </footer>
</div><!-- #wrapper -->


<script type="text/javascript">
  jQuery().ready(function(){
    function rImage() {
        var i = jQuery("#imgAd");
        i.animate({ opacity: 1 }, 5000, function() {
            i.attr('src', 'https://s3-eu-west-1.amazonaws.com/op-images/frame01.jpg');
        }).animate({ opacity: 1 }, 3000, function() {
            i.attr('src', 'https://s3-eu-west-1.amazonaws.com/op-images/frame02.jpg');
        }).animate({ opacity: 1 }, 5000, function() {
            i.attr('src', 'https://s3-eu-west-1.amazonaws.com/op-images/frame03.jpg');
            rImage();
        })
    };
    rImage();        
  });

//]]>
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-980632-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
