{% load i18n %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title>{% trans "Productivity index" %} {% block title %}{% endblock %}</title>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  {% block head_includes %}
  {% endblock %}
	<link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/print.css"  type="text/css" media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div id="wrapper"><!-- #wrapper -->

  <header>
    <section id="logos">
      <h1>
        <a href="/"><img src="/images/title-img.png" border="0"/></a>
      </h1>
      <div style="float:right;">
        <a href="http://associazione.openpolis.it" target="_blank"><img src="/images/logo-associazione.png" alt="associazione openpolis" border="0"/></a><a href="http://www.openparlamento.it" target="_blank"><img src="/images/logo-openparlamento.png" alt="openparlamento" border="0"/></a>
      </div>
    </section>
    
  	<nav><!-- top nav -->
      <ul style="clear:both; float: left">
        <li id="main-nav-deputati">
          <a href="/deputati.html" {% block deputati_class %}{% endblock %}>Deputati</a>
        </li>
        <li id="main-nav-senatori">
          <a href="/senatori.html" {% block senatori_class %}{% endblock %}>Senatori</a>
        </li>
        <li id="main-nav-methodology">
          <a href="/info.html" {% block methodology_class %}{% endblock %}>Info</a>
        </li>
      </ul>  	   
      
      <!-- language selector -->
      <!-- 
      <div style="float:right">
        <form id="language-selector" action="/i18n/setlang/" method="post">
          {% csrf_token %}
          <label for="language">{% trans "language" %}</label>
          <select name="language" id="language">
            {% for lang in LANGUAGES %}
              {% if LANGUAGE_CODE == lang.0 %}
                <option value="{{ lang.0 }}" selected="selected">{{ lang.1 }}</option>
              {% else %}
                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <input type="submit" value="{% trans 'go' %}" />
        </form>
      </div>
      -->
      
  	</nav><!-- end of top nav -->

    {% block sub_nav %}    
    {% endblock %}
	  
  </header>

	<section id="main"><!-- #main content and sidebar area -->

  	<section id="campaign-banners" style="text-align: center;">
        <a href="http://associazione.openpolis.it/contribuisci/diventa-socio"><img id="imgAd" src="https://s3-eu-west-1.amazonaws.com/op-images/frame03.jpg" border="0" /></a>
        <span style="margin-left:5px;"><a href="http://camereaperte2011.openpolis.it"><img src="https://s3-eu-west-1.amazonaws.com/op-images/banner-rapporto.png" border="0" /></a></span>
	  </section>

		<section id="content"><!-- #content -->
		
		
		  {% block content %}      
      {% endblock %}      

		</section><!-- end of #content -->

	</section><!-- end of #main content and sidebar-->

	<footer>
  		<section id="footer-area" style="text-align: center;">
        <p style="color: grey; margin-bottom: 5px;">{% trans "openpolis association web sites:" %}</p>
        <span style="margin-top: 100px;">
          <a href="http://www.openpolis.it"><img src="http://associazione.openpolis.it/images/button_op.png" border="0" alt=" logo di openpolis"></a>
          <a href="http://www.openparlamento.it"><img src="http://associazione.openpolis.it/images/button_opp.png" border="0" alt="logo di openparlamento"></a>
          <a href="http://www.voisietequi.it"><img src="http://associazione.openpolis.it/images/button_vsq.png" border="0" alt="logo di voi siete qui"></a>
          <a href="http://associazione.openpolis.it"><img src="http://associazione.openpolis.it/images/button_ass_op.png" border="0" alt="logo associazione openpolis"></a>
        </span>
  		</section><!-- end of footer-area -->
  	</footer>
</div><!-- #wrapper -->


<script type="text/javascript">
  jQuery().ready(function(){
    function rImage() {
        var i = jQuery("#imgAd");
        i.animate({ opacity: 1 }, 5000, function() {
            i.attr('src', 'https://s3-eu-west-1.amazonaws.com/op-images/frame01.jpg');
        }).animate({ opacity: 1 }, 3000, function() {
            i.attr('src', 'https://s3-eu-west-1.amazonaws.com/op-images/frame02.jpg');
        }).animate({ opacity: 1 }, 5000, function() {
            i.attr('src', 'https://s3-eu-west-1.amazonaws.com/op-images/frame03.jpg');
            rImage();
        })
    };
    rImage();        
  });

//]]>
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-980632-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
