/* Created by http://freehtml5templates.com */

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
  display: block;
}

body {
  background: #f4f2ea;
  color: #333;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 900px;
}
	
/* basics */
a { 
  color:#004C9A; 
  text-decoration: none; 
}
a:hover, a:active { color: #333; }
a:hover {
  text-decoration: underline;   
}
ul { list-style-type: none; }
p { line-height: 1.2em; font-size: 16px }

table tbody th {
  text-align: left;
  font-weight: normal;
}


/* layout */

#wrapper { min-width:1004px; width: auto !important; width: 1004px; margin: 0px auto 10px auto; }
#wrapper-800 { min-width:750px; width: auto !important; width: 750px; margin: 1px auto 10px auto; }

header { 
  margin: 0;
}

/* nav */
nav#main { 
  background: #0a5264; 
  min-height:30px; 
  height: auto !important; 
  padding: 5px;
 }

nav#main ul { margin-top: 5px; }
nav#main li { float: left;  }
nav#main a, nav#main .active { 
  color: #f4f2ea; 
  font-size: 18px; 
  padding: 2px 6px; 
  margin-right: 15px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px; 
  font-weight: bold; 
}
nav#main a:hover, nav#main .active { 
  color: #f4f2ea; 
  background-color: #e27221; 
  text-decoration: none; 
}
#wrapper-800 nav#main { padding-left: 15px; }
#wrapper-800 nav#main a, #wrapper-800 nav#main .current { margin-right: 10px; }

nav#sub {
  font-size: 14px;
  background-image: none;
  background-color: #fff;
}

nav#sub ul {
  margin-bottom: 0;
  margin-left: 16px;
}

nav#sub a:hover, nav#sub .active { 
  background-color: #0a5264; 
  color: #f4f2ea ;
}

nav#sub a {
  color:  #e27221;
  font-weight: normal;  
}


#logos {
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  color: white;
  font-size: 11px;
  height: 157px;
  padding: 0;
}

#logos h1 {
  float: left;
  font-size: 250%;
  margin-top: 0px;
  margin-left: 5px;
}

#logos h1 a#logo-strumento-openpolis {
   margin-left: -20px;
}



#main {
  margin: 0;
  background-color: #FFF;
  overflow: hidden;
}

#content {
  width: 100%;
  float: left;
  margin-left: 0px;
}


table.chart { 
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

table.chart thead {
  background: url("../img/bg-table-head.png") repeat-x scroll left top transparent;
  border-left: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 30px;
}

table.chart thead th {
  background: transparent url("../img/bg-table-head-cell.png") no-repeat top right;
}


table.chart thead th {
  padding: 0 5px 5px 5px;
  font-size: 11px;
  vertical-align: bottom;
}

table.chart tbody th, table.chart tbody td  { 
  padding: 10px 5px 5px 5px; 
  border-bottom: 1px solid #dfe0e0; 
  border-top: 1px solid #fff; 
  color: #000;
}

table.chart tbody tr { padding-bottom: 3px; }
table.chart tbody td.centered { text-align: center; }
table.chart tbody tr.even { background-color: #ffffff; }
table.chart tbody tr.odd { background-color: #fafafa; }
table.chart tbody tr:hover { background-color: #fffaea; }
table.chart td.numeric-value { font-weight: bold; text-align: center; padding-right: 0.4em;}
table.chart .politician-id img { 
  background: transparent url("../img/bg-ico-portrait-small.png") no-repeat center center; 
  padding: 6px; 
  margin: 0 2px; 
  vertical-align: middle; 
}

table.chart tbody tr .evident {
  background-color: #FEF3DB;
  border-right: 1px solid white;
}

table.chart thead th.evident {
  background: transparent url("../img/bg-table-head-cell-evident.png") no-repeat top right;
  border-left: 1px solid #E6C29D;
  border-top: 1px solid #E6C29D;
}
table.chart td span.small {
  font-size: 11px;
  color: #888;
}

table.chart tbody tr.yellow td{ background-color: lightyellow; }

footer {
  margin: 0;
  clear: both;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 15px 0;
  background-color: #E4E3DE;
  font-family: Georgia;
}

footer h3, footer h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 18px;
  letter-spacing: 0;
}

footer ul {
  list-style-type: none;
}

footer ul a,
footer ul a:hover {
  color: black;
}

footer p, footer ul {
  margin-bottom: 8px;
  line-height: 1.5em;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul
{
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

footer ul.dotted-list li {
  padding-left: 0.6em;
  background: transparent url('../img/dot.png') 0 .6em no-repeat;
}

#sub-footer {
  margin-top: 25px;
}

#sub-footer ul li {
  display: inline-block;
  padding: 0;
}

span.icon {
  background: transparent url(../img/icons/sprite-social-icons.png) no-repeat;
  margin: 0 7px;
  display: inline-block;
  float: left;
  height: 27px;
  line-height: 27px;
  width: 30px;
  max-width: 30px;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transition: background-image 0.20s linear;
  -moz-transition: background-image 0.20s linear;
  -o-transition: background-image 0.20s linear;
  transition: background-image 0.20s linear;
}

span.wordpress {
  background-position: -150px -0px;
}

span.twitter {
  background-position: -120px -0px;
}

span.facebook {
  background-position: -60px -0px;
}

span.google {
  background-position: -30px -0px;
}

span.trac {
  background-position: -0px -0px;
}

span.feed {
  background-position: -90px -0px;
}

span.twitter {
  background-position: -120px -0px;
}

#content ul, #content ol, #content hr {
  margin-bottom: 24px;
}

#content ul ul, #content ol ol, #content ul ol, #content ol ul {
  margin-bottom: 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #333;
  margin: 0 0 20px 0;
  line-height: 1.5em;
}

#content h2 {
  font-size: 28px;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

#error-text {
  font-size: 20px;
  margin: 4em auto;
  text-align: center;
}

#intro-text {
  font-size: 16px;
  margin: 0;
  padding: 0 0.5em;
  line-height: 1.4em;
}

#top-deputati {
  width: 48%;
  float: left;
}

#top-senatori {
  width: 48%;
  float: right;
  
}

#top-deputati h3, #top-senatori h3 {
  color: #fff;
  margin-bottom: 4px;
}

#top-deputati h3 {
  background-color: #002365;
}
#top-senatori h3 {
  background-color: #851018;
}



.top-chart {
  width: 45%;
  padding: 0.5em;
  margin-bottom: 1em;
}
.top-chart h3 {
  text-align: center;
}
.top-chart .link-to-all {
  text-align: right;
  margin: 0.5em 0 1em 0;
}

.top-chart table.chart th { padding-top: 0px; }

#camere-aperte {
  background: url("../img/bg-green-band.png") repeat-x -10px;
  height: 252px;
  width: 20%;
  float: left;
}


#indice {
  background: url("../img/bg-green-band-2.png") repeat-x -10px;
  height: 252px;
  width: 20%;
  float: left;
}

#indice p, #camere-aperte p, #city-search p { 
  margin: 0 auto;
  color: white;
  font-size: 14px;
}

#indice p a, #camere-aperte p a {
  text-decoration: underline;
  color: white;
}



#city-search {
  background: url("../img/bg-green-band-2.png") repeat-x -10px;
  height: 252px;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1em;
  float: left;
}

#city-search input {
  float: right;
  margin-top: 1em;
  margin-right: 2em;
  font-size: 18px;
  color: #999;
}

h3#data-estrazione {
  font-size: 14px; 
  color: gray;
  float: right;
  margin-right: 2em;
}

#elenco-parlamentari {
  clear: both;
  margin: 1em;
}
#language-selector { color: white; font-size: 12px;}

nav, section { display: block; }

.container {
padding-left: 20px;
padding-right: 20px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}
.row .twocol {
    width: 13.45%;
}
.row .threecol {
    width: 22.05%;
}
.row .sixcol {
    width: 48%;
}
.row .elevencol {
width: 91.35%;
}
.row .last {
margin-right: 0px;
}
.row .prefixone {
margin-left: 8.65%;
}
.row .prefixsix {
margin-left: 51.6%;
}


